/* =========================================== Global Roles ===========================================*/

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #F4D04E;
    --gray950: #111111;
    --gray500: #6b6b6b;
    --spacingLevel1: 4px;
    --spacingLevel2: 8px;
    --spacingLevel3: 12px;
    --spacingLevel4: 16px;
}